.main_imgbox{
    position:relative;
    height: 550px;
    margin: 0 auto;
    width: 400px;
    border: 8px ridge rgb(68, 68, 68);
    background-color: rgb(252, 250, 248);
    box-shadow:  rgba(0, 0, 0, 0.376) 0px 0px 20px 4px;
}
.main_imgbox img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.376) 0px 0px 4px 2px;
}