body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/img/rankbg.png);
}
nav{
    box-shadow: rgb(234 217 201 / 83%) 0px 0px 15px 10px;
}

/* rank */
.rank{
    padding-top: 70px;
}
.rank_1{
    width: 900px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.rank_1_img{
    position:relative;
    height: 500px;
    margin: 0 auto;
    border: 8px ridge rgb(68, 68, 68);
    background-color: rgb(252, 250, 248);
    box-shadow:  rgba(0, 0, 0, 0.376) 0px 0px 20px 4px;
}
.rank_num_1{
    width: 200px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main_img1{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.376) 0px 0px 4px 2px;
}

.rank_2{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}
.rank_2_img1{
    position:relative;
    height: 500px;
    margin: 0 auto;
    border: 8px ridge rgb(68, 68, 68);
    background-color: rgb(252, 250, 248);
    box-shadow:  rgba(0, 0, 0, 0.376) 0px 0px 20px 4px;
    width: 280px;
    height: 190px;
}
.rank_num_2{
    width: 70px;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
}
.main_img2{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.376) 0px 0px 4px 2px;
}
.view__btm{
    position: absolute;
    top: 0; right: 0;
    margin-top: 13px;
    margin-right: 20px;
}
.imgview span{
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.imgview{
	z-index: 100;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.imgview>div{
    overflow: hidden;
    position: relative;
    border-radius: 30px 30px;
    background: #fff;
    width: 1000px;
    padding: 30px;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}
.img-box{
    position:relative;
    height: 550px;
    width: 400px;
}
.img-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.376) 0px 0px 4px 2px;
}
.main{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.img_inf{
	margin-top: 70px;
    text-align: center;
}
.inf_btn{
	visibility:hidden;
}
.img_inf p{
	margin-top:30px;
	margin-bottom: 0;
}


@media (max-width: 600px){
    body{
        overflow: auto;
        background-image: url(/img/mobile.jpg);
    }
    nav{
        height: 80px;
        box-shadow: rgb(160 160 160 / 83%) 0px 0px 15px 10px;
    }
    .rank{
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .rank_1{
        width: 93%;
    }
    .rank_1_img{
        height: 300px;
    }
    .rank_num_1{
        width: 25%;
        margin-right: 5px;
    }
    .main_img1{
        width: 200px;
    }

    .rank_2{
        display: block;
        width: 93%;
        margin: 0 auto;
    }
    .rank_num_2{
        width: 25%;
        margin-right: 5px;
    }
    .rank_2_img1{
        width: auto;
        height: 300px;
        margin-bottom: 20px;
    }
    .main_img2{
        width: 200px;
    }

    .imgview{
        height: auto;
    }
    .imgview>div{
        border-radius: 0 0;
        width: auto;
        margin: 80px auto;
        height: calc(100% - 80px);
    }
    .main{
        width: 90%;
        display: block;
    }
    .img-box{
        width: auto;
        height: 60%;
    }
    .img-box img{
        width: 90%;
    }
    .img_inf{
        margin-top: 0;
    }
    .img_inf p {
        margin-top: 10px;
    }
    .img_inf *{
        margin: 0 0 5px 0;
    }
    .inf_btn{
        height: 0;
    }
    #likey1{
        margin-top: -65px;
    }
}
@media (max-height: 550px) {
    body{
        overflow: auto;
        background-image: url(/img/mobile.jpg);
    }
    nav{
        height: 80px;
        box-shadow: rgb(160 160 160 / 83%) 0px 0px 15px 10px;
    }
    .rank{
        padding-top: 100px;
        padding-bottom: 40px;
    }
    .rank_1{
        width: 93%;
    }
    .rank_1_img{
        height: 300px;
    }
    .rank_num_1{
        width: 25%;
        margin-right: 5px;
    }
    .main_img1{
        width: 200px;
    }

    .rank_2{
        display: block;
        width: 93%;
        margin: 0 auto;
    }
    .rank_num_2{
        width: 25%;
        margin-right: 5px;
    }
    .rank_2_img1{
        width: auto;
        height: 300px;
        margin-bottom: 20px;
    }
    .main_img2{
        width: 200px;
    }

    .imgview{
        height: auto;
    }
    .imgview>div{
        border-radius: 0 0;
        width: auto;
        margin: 80px auto;
        height: calc(100% - 80px);
    }
    .main{
        width: 90%;
        display: flex;
    }
    .img-box{
        width: 100%;
        height: 80%;
    }
    .img-box img{
        width: 42%;
    }
    .img_inf{
        margin-top: 0;
    }
    .img_inf p {
        margin-top: 10px;
    }
    .img_inf *{
        margin: 0 0 5px 0;
    }
    .inf_btn{
        height: 0;
    }
    #likey1{
        margin-top: -65px;
    }
}